<div class="mid-actions hidden-xs">
  <div class="container">
    <span class="see-in-action">
      <strong class="active">{{ site.t[page.lang].donde_encontrar_name }}</strong>
    </span>
    <span class="separator"></span>
    <span class="action"><a href="{{ site.t[page.lang].ubicaciones_url }}el-golf/">El Golf</a></span>
    <span class="action"><a href="{{ site.t[page.lang].ubicaciones_url }}bellavista/">Bellavista</a></span>
    <span class="action"><a href="{{ site.t[page.lang].ubicaciones_url }}ochogavia/">Nucleo Ochagavia</a></span>
  </div>
</div>
