.twitter-typeahead {
	width: 70%;
}

.tt-hint {
  	color: #999;
}

.tt-menu { 
    text-align: left;
  	margin-top: 4px;
  	padding: 10px;
  	background-color: #fff;
  	border-radius: 3px;
    border: 1px solid #CAC7A7;
    color: #3F4444;
}

.tt-suggestion {
  	padding: 3px 20px;
  	line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  	color: #ffffff;
  	background-color: #CAC7A7;
  	border-radius: 3px;
  	cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
}

