

.location {
	margin-top: 20px;
	border: 2px solid #CAC7A7;
    border-radius: 3px;
}

.location_body {
	    padding: .9375rem;
}

@media only screen and (max-width: 768px) {
	#fold_ubicaciones, #membresias_fold {
		padding: 50px 0;
	}
}

.location_price {
	height: 115px;
}