.navbar-fixed-top {
	position: absolute;
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.overlay {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 );
    background-attachment: fixed;
    height: 100vh;
	padding-top: 150px;        
}

#el_golf {
    background: url(../imgs/ubicaciones/ubicaciones-elgolf2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#fold h1 {
	color: #ffffff;
}

h1 small {
	color: #babfcc;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #CAC7A7;
    background-color: transparent;
}

.membresia_list:first-of-type {
	border-top: 1px solid #CAC7A7;
}

.membresia_list {
	padding: 25px 0;
	border-bottom: 1px solid #CAC7A7;
}

.membresia_list_second {
	padding: 3px 0;
}

.box_amenities {
	padding: 10px;
	border: 3px solid #CAC7A7;
	min-height: 100px;
	margin-bottom: 10px;

}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
	#fold {
		height: 100vh;
		padding-top: 50px;
	}

	.fold {
		padding-top: 50px;
	}	

	#menu {
		padding: 0px;
		height: 10px;
	}

	#menu.navbar-default, #header_collaps_fold {
		background-color: #3F4444;
		border-color: transparent;
	}

	.navbar-form {
		margin-left: 0px;
	}

}