---
layout: default
title: Corporativo - EDGE Cowork
permalink: /planes/corporativo/
active_menu: planes
navbar_extra_classes: home
lang: es
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="corporativo" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Corporativo<br>
              <small>Mejorando la productividad de las grandes empresas.</small>
            </h1>

            <div class="margin_top_30px">
              <p>¿Quieres inspirar a tus empleados y sacarlos de la caja corporativa? Este plan hace exactamente eso. Nuestro plan corporativo fue diseñado para brindar a sus empleados un acceso flexible a nuestros espacios de trabajo colaborativo, proporcionándoles un ambiente de trabajo único y refrescante. Tus empleados no sólo estarán agradecidos por la confianza, sino que también conocerán a nuevas personas y generarán ideas de alto potencial.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nuestro objetivo es aumentar tu calidad de vida</h2>

        <p>Muchos trabajadores pasan una gran cantidad de tiempo trasladándose a trabajar todos los días. ¿Y si hubiera un lugar más cerca de casa donde pudieras trabajar? Creemos que ser un Smart Cowork es algo más que la última tecnología, es mejorar la forma en que vivimos e interactuamos unos con otros en las grandes ciudades.</p>

        <h2>El trabajo a distancia nunca ha sido tan fácil</h2>

        <p>¿Cómo funciona este plan? Es sencillo. En primer lugar, dinos quiénes en tu empresa podrían trabajar en uno de nuestros lugares. Puedes elegir cuántos días al mes pueden acceder al cowork y también qué tipo de estación de trabajo tendrán. Este plan también incluye la opción de reservar nuestras salas de reuniones para juntas de equipo o jornadas.</p>

        <h2>Adáptalo según cambien tus necesidades</h2>

        <p> Este plan es completamente personalizable. ¿Necesitas más horas de reunión? No hay problema. ¿Necesitas incluir personas adicionales o disminuir el número de días? Fácil. Este plan se adapta a tus necesidades como empresa. Puedes pagar mensualmente o anualmente, lo que mejor funcione para tu situación actual.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">El Plan Corporativo incluye</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i>Internet estable de alta velocidad con una red dedicada 1: 1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i>Té, agua purificada y café de grano gratuito e ilimitado </div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Escritorios cómodos y de alta calidad con enchufes y USB para computadores y celulares</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Áreas comunes para trabajar, relajarse y recibir invitados</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Cabinas telefónicas privadas para una mayor concentración, reuniones 1-1 y llamadas importantes.</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> Acceso a salas de reuniones y lounge</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresora y scanner </div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Acceso inteligente y seguro 24/7 al edificio</div>
        <div class="membresia_list_second">Community Manager in-situ durante las horas de trabajo </div>
        <div class="membresia_list_second">Servicios de limpieza diaria </div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Casilleros y bicicletero</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Estacionamiento para invitados sujeto a disponibilidad </div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Acceso a eventos de Edge</div>
        
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i>Recepción de correo y paquetes</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Snacks para reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-cutlery"></i> Estacionamiento (sujeto a disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegas</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
