---
layout: default
title: Corporativo - EDGE Cowork
permalink: /planes/corporativo/
active_menu: planes
navbar_extra_classes: home
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="corporativo" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Corporativo<br>
              <small>Apoyado las empresas grandes, aumentando la calidad de vida.</small>
            </h1>

            <div class="margin_top_30px">
              <p>Esta membresía ofrece una oportunidad flexible para el personal de tu empresa de poder trabajar más cerca de su casa. Generando un beneficio para ellos con un espacio de vez en cuando para poder trabajar en nuestros hot desks, y espacios comunes. Dándoles un tiempo para que puedan trabajar y enfocarse en sus tareas, pero al mismo tiempo compartir con otros en un espacio colaborativo. Esto genera nuevas ideas y distintas perspectivas que apoyan y ayudan a las personas cumplir con sus metas de manera distinta.</p>
              <p>Con acceso a todos los beneficios de Edge cowork. Apoya a tus empleados, aumenta su calidad de vida y disminuye externalidades negativas de la ciudad.</p>

            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Queremos mejorar la calidad de vida de las personas</h2>

        <p>Muchas empresas tienen sus oficinas y casas matrices lejos de donde su personal vive, es por esto que queremos acercar los espacios de trabajo mejorando la calidad de vida de las personas. Creemos que ofrecer un Smart Cowork no solo se trata de usar la tecnología para aumentar la productividad, pero también de cambiar la forma de trabajar y mentalidad, mejorando y siendo inteligente en nuestro día laboral. </p>

        <h2>¿Cómo funciona esto de ir a un Cowork?</h2>

        <p>Simple. Hacemos una membresía especial para tu empresa donde tu decides cuantos días al mes quieres y quién viene a trabajar a Edge Cowork. Tu empresa tiene la opción de apoyar al personal y darles un lugar en nuestros espacios comunes con hot desks, escritorios dedicados o en oficinas privadas. También la membresía incluye la opción de organizar eventos corporativos, celebraciones de cumpleaños con desayunos almuerzos o cocktails.Diseña lo que más le acomode a tu empresa, nosotros nos encargamos de cuidar a tu personal.</p>

        <h2>Sin extra gastos</h2>

        <p>Diseñamos una membresía a medida dependiendo de la cantidad de personas, ubicaciones y servicios. Empresas pueden optar por pagar la membresía de manera mensual, semestral o anual. Se aplica un descuento por volumen de personas y también duración de la membresía. Contacta te con nosotros para saber más.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Esta membresía incluye los siguientes beneficios para tu empresa</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable y de alta velocidad con enlace dedicado 1:1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Café de grano, té y agua purificada</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Muebles cómodos con enchufes para computadores y teléfonos</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Espacios comunes tipo lounge para trabajar, recibir visitas o descansar</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Cabinas privadas para llamar por teléfono, conferencias o reuniones 1-a-1, con uso ilimitado</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> Salas de conferencias y reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresoras a color y scanner</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Control de Acceso Smart para entrar y salir 24/7</div>
        <div class="membresia_list_second">Posibilidad de hacer eventos corporativos, charlas, talleres o eventos sociales</div>
        <div class="membresia_list_second">Community manager in-situ disponible para atenderte</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Community manager in-situ disponible para atenderte</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Servicio de limpieza diario</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers y estacionamiento de bicicletas</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamientos para autos sujeto a disponibilidad</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Invitación a eventos organizados por Edge partners</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Envio de paquetes y correspondencia</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Servicio de depósito bancario</div>
        <div class="membresia_list_second"><i class="fa fa-cutlery"></i> Desayunos o almuerzos a pedido en sala de conferencia reservas con un día de anticipación</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i> Refrigerador inteligente con comida sana (por venir)</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>

      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
