---
layout: default
title: Edge Cowork - Day Pass
permalink: /planes/day-pass/
active_menu: planes
lang: es
---

{% contentfor css %}
  <link href="/assets/css/content.css" rel="stylesheet">
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="hot_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Day pass</h1>
            <p class="slogan">Aprovecha más tu día de trabajo</p>
            <p>Desde $10.000</p>
            <div class="margin_top_30px">
              <p>Escapa de tu casa, tu oficina o la calle y haz que tu día sea productivo con un Day Pass en cualquiera de nuestras ubicaciones.</p>
              <p>El Day Pass te da acceso a nuestros espacios comunes y zona Hot Desk. Trae tu computador, toma un escritorio y comienza a trabajar. Tú puedes comprar tantos Day Pass como desees sin el compromiso de convertirse en un miembro de tiempo completo </p>
              <p><span class="highlight">Importante</span> El Day Pass no te convierte en miembro de Edge Cowork. Si deseas convertirte en miembro y disfrutar de todas las ventajas y beneficios asociados, puede interesarte un <a href="../hot-desk"> Hot Desk </a></p>

            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">El day pass incluye</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable de alta velocidad con una red dedicada 1: 1 de 100MB </div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Té, agua purificada y café de grano gratuito e ilimitado</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i>Escritorios cómodos y de alta calidad con enchufes y USB para computadores y celulares </div>

      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>

        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Horas adicionales del uso de salas de reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresoras a color y scanner</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
