---
layout: base
title: Day Pass - EDGE Cowork
permalink: /planes/day-pass/
active_menu: planes
navbar_extra_classes: home
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="hot_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Day pass</h1>
            <p class="slogan">Pase diario para trabajar por el día</p>
            <div class="margin_top_30px">
              <p>Trabaja por el día en cualquiera de nuestros hot desks en espacios comunes. Ideal para personas que están de paso o simplemente necesitan un día sin distracciones. </p>
              <p>Usa cualquiera de nuestros hot desks en los espacios comunes y ponte a trabajar por el día en nuestros escritorios flexibles con la última tecnología para tus dispositivos. El Day Pass de te da la posibilidad de trabajar en Edge sin un compromiso mensual o de largo plazo, te da un día completo para trabajar y evaluar si quieres ser miembro. </p>
              <p><span class="highlight">importante</span> el Day Pass no es una membresía, y no incluye los beneficios de ser parte de la red Edge. Si quieres ser miembro y tener acceso a los beneficios sin límites y con flexibilidad te puede interesar el <a href="hot-desk.html">Hot desk</a>.</p>

            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">El day pass incluye</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable y de alta velocidad con enlace dedicado 1:1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Café de grano, té y agua purificada</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Muebles cómodos con enchufes para computadores y teléfonos</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Espacios comunes tipo lounge para trabajar, recibir visitas o descansar</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Community manager in-situ disponible para atenderte</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers y estacionamiento de bicicletas</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Despacho de paquetes y correspondencia</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Servicio de depósito bancario</div>
        <div class="membresia_list_second"><i class="fa fa-cutlery"></i> Desayunos o almuerzos a pedido en sala de conferencia reservas con un día de anticipación</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i> Refrigerador inteligente con comida sana (por venir)</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>

        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Horas adicionales del uso de salas de reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresoras a color y scanner</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
