---
layout: default
title: Dedicated Desk - EDGE Cowork
permalink: /planes/dedicated-desk/
active_menu: planes
navbar_extra_classes: home
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="dedicated_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Dedicated desk<br>
              <small>Comparte una oficina privada</small>
            </h1>

            <div class="margin_top_30px">
              <p>Tu escritorio propio en una oficina privada. Ideal para equipos pequeños o personas que quieren la comodidad de una oficina privada a costo menor, cuidar sus cosas y no tener que preocuparse de disponibilidad. Deja tu computador y te cuidamos.</p>
              <p>Dedicated Desks son para personas que necesitan un escritorio permanente, es decir el mismo escritorio todos los días, permitiendo a tí y a tu equipo guardar tus pertenencias en el mismo lugar. Cada escritorio viene con un archivero para mantener cosas bajo llave. Como miembro de la <span class="highlight">Red Edge</span> tendrás acceso a exclusivos eventos sociales y profesionales y podrás disfrutar de todos los beneficios y descuentos ofrecidos por nuestras alianzas. Adicionalmente, esta membresía viene con impresiones gratis, recepción de correo, oficina virtual y 4 horas al  mes para usar la reservar salas de reuniones.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Los dedicated desks incluyen</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable y de alta velocidad con enlace dedicado 1:1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Café de grano, té y agua purificada</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Muebles cómodos con enchufes para computadores y teléfonos</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Espacios comunes tipo lounge para trabajar, recibir visitas o descansar</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Cabinas privadas para llamar por teléfono, conferencias o reuniones 1-a-1, con uso ilimitado</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> 4 horas al mes de uso de salas de conferencias y reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresoras a color y scanner</div>
        <div class="membresia_list_second">Oficina Virtual con dirección tributaria para SII</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Control de Acceso Smart para entrar y salir 24/7</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Community manager in-situ disponible para atenderte</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Servicio de limpieza diario</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers y estacionamiento de bicicletas</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamientos para autos sujeto a disponibilidad</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Invitación a eventos organizados por Edge partners</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Envio de paquetes y correspondencia</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Servicio de depósito bancario</div>
        <div class="membresia_list_second">Servicio de depósito bancario</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i> Refrigerador inteligente con comida sana (por venir)</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>
        <div class="membresia_list_second"><i class="fa fa-building-o"></i> Oficina virtual con 45% descuento (4 meses gratis al año)</div>
        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Horas adicionales del uso de salas de reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
