---
layout: default
title: Edge Cowork Flex desk
permalink: /planes/flex-desk/
active_menu: planes
navbar_extra_classes: home
lang: es
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="hot_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>flex desk</h1>
            <p class="slogan">Tu flexibilidad maxima</p>
            <div class="margin_top_30px">
              <p>Los Flex Desk son para las personas que se mueven mucho por la ciudad y que necesiten acceso a un espacio de trabajo en distintas ubicaciones. Con este plan tendrás acceso a cualquier Hot Desk en la red Edge, permitiendo que te ajustes cada día a los imprevistos en tu agenda.</p>
              <p>Como miembro de la red Edge, obtendrás acceso a exclusivos eventos sociales y profesionales y disfrutarás de varios beneficios y descuentos para el trabajo y  vida social ofrecidos por nuestros socios. Además, el plan Flex Desk incluye impresiones gratuitas, recepción de correo y paquetes, una oficina virtual, cabina telefónica ilimitada y cuatro horas al mes para usar la sala de reuniones sin costo alguno.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Los dedicated desks incluyen</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable y de alta velocidad con enlace dedicado 1:1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i>Té, agua purificada y café de grano gratuito e ilimitado </div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i>Escritorios cómodos y de alta calidad con enchufes y USB para computadores y celulares</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i>Áreas comunes para trabajar, relajarse y recibir invitados</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i>Cabinas telefónicas privadas para una mayor concentración, reuniones 1-1 y llamadas importantes.</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i>4 horas al mes para usar las salas de reuniones.</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresiones y scanners.</div>
        <div class="membresia_list_second">Oficina Virtual con dirección comercial para SII.</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i>  Acceso inteligente y seguro 24/7 al edificio (depende de la sede).</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i>  Office Manager in-situ durante las horas de trabajo.</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i>Servicio de limpieza diario.</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Casilleros y estacionamiento de bicicletas.</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamientos para autos sujeto a disponibilidad</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Invitación a eventos organizados por Edge partners</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Snacks para reuniones </div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Estacionamiento (sujeto a disponibilidad)</div>
        <div class="membresia_list_second">Bodegas</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i>Horas extras de sala de reunión</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Espacio para eventos </div>
      </div>
    </div>
</section>

