---
layout: default
title: Oficina Privada - EDGE Cowork
permalink: /planes/oficina-privada/
active_menu: planes
navbar_extra_classes: home
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="oficina_privada">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Oficina privada<br>
            <small>Trabaja en tu espacio privado, con tu equipo</small>
          </h1>

          <div class="margin_top_30px">
            <p>Oficinas privadas para equipos de cualquier tamaño. Puedes configurar tu oficina como quieras, usar el estilo Edge ó puedes usar el estilo de tu propia empresa. Ideal para empresas pequeñas que buscan buena ubicación y flexibilidad para crecer.<p>
            <p>Tenemos oficinas de diferentes tamaños dependiendo de la cantidad de personas en tu empresa. Ofrecemos oficinas privadas para 2 personas hasta 15 personas, con dimensiones flexibles para acomodar bien los activos de la empresa.</p>
            <p><span>Importante</span> No pedimos garantia, pero si tienes que reservar una oficina privada depositando el 30% del primer mes con 30 días de anticipación. Las oficinas privadas tienen muebles y escritorios con la última tecnología para trabajar y para cargar tus dispositivos, ya no tienes que traer cables y cargadores. </p>
            <p>si buscas trabajar activamete y ser más productivo te damos la oportunidad de pedir escritorios Sit-Stand de <a href=”activadesk.com” target=”_blank”> Activadesk ®</a>, para poder trabajar comodamente y saludablemente. Los escritorios Sit - Stand de Activadesk te dan la libertad para trabajar de pie, o sentado en tu puesto de trabajo cuando tu quieras, ayudándote a aliviar el dolor de espalda y a mantener un estilo de vida activo y saludable mientras trabajas. Adicionalmente hay estaciones de trabajo de altura ajustable para que pongas sobre tu escritorio convencional, y todo tipo de accesorios para que mejores tu postura mientras trabajas y optimizando tu espacio al mismo tiempo.</p>

          </div>
        </div>
        <div class="col-md-offset-1 col-md-4">
          {% include plan-tour-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Las oficinas privadas incluyen</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable y de alta velocidad con enlace dedicado 1:1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Café de grano, té y agua purificada</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Muebles cómodos con enchufes para computadores y teléfonos</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Espacios comunes tipo lounge para trabajar, recibir visitas o descansar</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Cabinas privadas para llamar por teléfono, conferencias o reuniones 1-a-1, con uso ilimitado</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> 8 horas al mes de uso de salas de conferencias y reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresoras a color y scanner</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Control de Acceso Smart para entrar y salir 24/7</div>
        <div class="membresia_list_second">Posibilidad de hacer eventos corporativos, charlas, talleres o eventos sociales</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Community manager in-situ disponible para atenderte</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Servicio de limpieza diario</div>
        <div class="membresia_list_second">Oficina Virtual con dirección tributaria para SII</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers y estacionamiento de bicicletas</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamientos para autos sujeto a disponibilidad</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Invitación a eventos organizados por Edge partners</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Envio de paquetes y correspondencia</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Servicio de depósito bancario</div>
        <div class="membresia_list_second"><i class="fa fa-cutlery"></i> Desayunos o almuerzos a pedido en sala de conferencia reservas con un día de anticipación</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i> Refrigerador inteligente con comida sana (por venir)</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>

      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
