---
layout: default
title: Corporativo - EDGE Cowork
permalink: /plans/corporativo/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="corporativo" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Corporate<br>
              <small>Improving the productivity of large companies</small>
            </h1>

            <div class="margin_top_30px">
              <p>Want to inspire your employees and get them out of the corporate box? This plans does exactly that. Our corporate plan was designed to give your employees flexible access to our collaborative work spaces, providing them with a fresh and unique work environment. Your employees will not only be grateful for the trust, but they will also meet new people and generate high-potential ideas.</p>
           

            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our goal is to increase your quality of life</h2>

        <p>Many workers spend a significant amount of time commuting to work every day. What if there was a place closer to home where you could work? We believe that being a Smart Cowork is more than just the latest technology, it is about improving the way we live and interact with each other in big cities.</p>

        <h2>Remote working has never been easier</h2>

        <p>How does this plan work? It’s simple. First, tell us who in your company is lucky enough to work from one of our locations. You can choose how many days a month they can access the cowork and also what type of workstation they will have. This plan also includes the option to book our meeting rooms for team meetings or retreats. </p>

        <h2>Adapt as your needs change </h2>

        <p>This plan is completely customizable. Need more meeting hours? No problem. Need to include additional people or drop the number of days? Easy. This plan adapts to your needs as a company. You can pay monthly or annually, whatever works best for your current situation.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">The Corporate Plan includes</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Stable, high-speed internet with a 1:1 dedicated network of 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Unlimited tea, purified water and quality roasted coffee</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Comfortable, high-quality tables with built-in power outlets for computers and phones</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Common areas to work, relax and receive guests</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Private phone booths for uninterrupted focus, 1-1 meetings and important calls.</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> Access to meeting rooms and lounges</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Color printers and scanners</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Smart & secure access to building</div>
        <div class="membresia_list_second">Onsite Office Manager during working hours</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Daily cleaning services</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers and bike parking</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Guest car parking subject to availability</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Access to Edge events</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Additional services</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Reception of mail and packages</div>
        <div class="membresia_list_second"><i class="fa fa-cutlery"></i> Breakfast and lunch ordered to meeting room</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Car parking (subject to availability)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Storage rooms for merchandising and other products</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Event space</div>

      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
