---
layout: default
title: Edge Cowork Day Pass
permalink: /plans/day-pass/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="hot_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Day pass</h1>
            <p class="slogan">Get more from your work day</p>
            <p>Starting at $10.000</p>
            <div class="margin_top_30px">
              <p>Escape your home, your office or the street and make your day more productive with a Day Pass at any of our prime locations.</p>
              <p>The Day Pass gives you access to our common spaces and Hot Desk working areas. Bring your computer, grab a desk and start working. You can purchase as many day passes as you like without the commitment of becoming a full-time member</p>
              <p><span class="highlight">Important.</span> The Day Pass does not make you a member of Edge Cowork. If you want to become a member and enjoy all of the associated benefits and perks, you may be interested in a <a href="../hot-desk"> Hot Desk </a></p>

            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">The Day Pass includes</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Stable, high-speed internet with a 1:1 dedicated network of 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Unlimited tea, purified water and quality roasted coffee</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i>Comfortable, high-quality tables with built-in power outlets for computers and phones</div>

      </div>
      <div class="col-md-6 text-left">
        <h2>Additional services</h2>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Car parking (subject to availability)</div>


        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Meeting room hours</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Event space</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Color printers and scanners</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
