---
layout: default
title: Dedicated Desk - EDGE Cowork
permalink: /plans/dedicated-desk/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="dedicated_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Dedicated Desk<br>
              <small>Your permanent desk in a shared private office</small>
            </h1>

            <div class="margin_top_30px">
              <p>Dedicated Desks are for workers who need access to a permanent desk within a shared private office. Permanent means same desk every day, allowing you and your team to leave your monitors and other belongings.</p>
              <p>As a member of the Edge Network you will get access to exclusive social and professional events and enjoy a wide range of perks and discounts for work and life offered by our partners. Additionally, the Dedicated Desk plan comes with free printing, handling of mail and packages, a virtual office, unlimited phone booth and four hours each month to use the meeting room without cost.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">All Dedicated Desks include</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Stable, high-speed internet with a 1:1 dedicated network of 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Unlimited tea, purified water and quality roasted coffee</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Comfortable, high-quality tables with built-in power outlets for computers and phones</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Common areas to work, relax and receive guests</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Private phone booths for uninterrupted focus, 1-1 meetings and important calls.</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> 4 hours a month to use meeting rooms</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Color printers and scanners</div>
        <div class="membresia_list_second">Virtual Office with commercial address for SII</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Smart & secure access to building</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Onsite Office Manager during working hours</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Daily cleaning services</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers and bike parking</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Guest car parking subject to availability</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Access to Edge events</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Additional services</h2>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Car parking (subject to availability)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Storage rooms for merchandising and other products</div>
        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Extra meeting room hours</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Event space</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
