---
layout: default
title: Hot Desk - EDGE Cowork
permalink: /plans/hot-desk/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="hot_desk" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Hot desk</h1>
            <p class="slogan">Flexibilidad y comodidad donde quieras</p>
            <div class="margin_top_30px">
              <p>Acceso a cualquier escritorio disponible en áreas comunes. Esta membresía es para freelancers o personas que trabajan en equipo pequeños, donde valoran flexibilidad de espacio de trabajo y horarios. Trae tu computador y te damos el resto.</p>
              <p>Con esta membresía puedes venir cuando quieras, agarrar cualquier puesto desocupado, y ponerte a trabajar. Como miembro de la Red Edge tendrás acceso a eventos exclusivos (próximamente) y podrás disfrutar de todos los beneficios y descuentos ofrecidos por nuestras alianzas. Adicionalmente, esta membresía viene con el servicio de recepción de correo y paquetes y dos horas al mes que puedes usar para reservar salas de reuniones.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Hot desks incluyen</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Internet estable y de alta velocidad con enlace dedicado 1:1 de 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Café de grano, té y agua purificada</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Muebles cómodos con enchufes para computadores y teléfonos</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Espacios comunes tipo lounge para trabajar, recibir visitas o descansar</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Cabinas privadas para llamar por teléfono, conferencias o reuniones 1-a-1, con uso ilimitado</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> Salas de conferencias y reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Impresoras a color y scanner</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Control de Acceso Smart para entrar y salir 24/7</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Community manager in-situ disponible para atenderte</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Servicio de limpieza diario</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers y estacionamiento de bicicletas</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamientos para autos sujeto a disponibilidad</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Invitación a eventos organizados por Edge partners</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Servicios adicionales</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Envio de paquetes y correspondencia</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Servicio de depósito bancario</div>
        <div class="membresia_list_second"><i class="fa fa-cutlery"></i> Desayunos o almuerzos a pedido en sala de conferencia reservas con un día de anticipación</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i> Refrigerador inteligente con comida sana (por venir)</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>
        <div class="membresia_list_second"><i class="fa fa-building-o"></i> Oficina virtual con 45% descuento (4 meses gratis al año)</div>
        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Horas adicionales del uso de salas de reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->

    <div class="row margin_top_60px">
      <div class="col-md-6">
        <div class="pt_box">
          <h4>Hot Desk Part time</h4>
          También puedes ser miembro por medio mes, tu elijes cuando quieres venir a trabajar. Este plan te da todos los beneficios de la membresía Hot Desk pero para personas que necesitan más flexibilidad, y no necesita un escritorio todos los días. Tienes 10 días dentro del mes que puedes ir a un Edge Cowork. Ideal para personas en viaje de negocios, consultores, freelancers y coachers!
        </div>
      </div>
      <!--
      <div class="col-md-6">
        <h4>Desde <span id="precio_pt">$100.000</span> / Mes</h4>
        <select id="select_locations_pt" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
      -->
    </div>
  </div>
</section>
