---
layout: default
title: Meeting Room - EDGE Cowork
permalink: /plans/meeting-room/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="meeting_room" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Meeting Room</h1>
            <p class="slogan">Kick your meetings up a notch</p>
            <div class="margin_top_30px">
              <p>The meeting room plan is simple. Choose the amount of hours you need each month and then book a meeting room in any Edge location. Our meeting rooms have different sizes and styles, allowing for a wide range of activities. Do you have an upcoming board meeting or workshop? Make sure you have the right space. Book one of our meeting rooms today. Additionally, if you have a meeting room plan, you will get access to all of the benefits and perks that we offer our members.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">The Meeting Room plan includes</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Stable, high-speed internet with a 1:1 dedicated network of 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Unlimited tea, purified water and quality roasted coffee</div>
        <div class="membresia_list_second">High-quality conference table  with built-in power outlets for computers and phones</div>
        <div class="membresia_list_second">40” Display</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Color printers and scanners</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Onsite Office manager during working hours</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers and bike parking</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Guest car parking subject to availability</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Access to Edge events</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Additional services</h2>
        <div class="membresia_list_second">Breakfast and lunch ordered to meeting room</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Looking for a large number of hours each month?</h3>

        <p>We have different meeting room packages for those who need a large number of hours each month.</p>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>


<div class="modal fade" id="modal_contacto" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Send us a message to find out more.</h4>
      </div>
      <form id="form_verifica_email_modal" method="POST">
        <div class="modal-body">
          <div class="form-group">
                            <label for="email_contact_form">Correo electrónico</label>
                            <input type="email" class="form-control" id="email_contact_form" placeholder="Correo electrónico" required="">
                        </div>
                        <div class="form-group">
                            <label for="mensaje_contact_form">Mensaje</label>
                            <textarea id="mensaje_contact_form" class="form-control" rows="3" required=""></textarea>
                        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button id="l_button_contanct" type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
