---
layout: default
title: Oficina Virtual - EDGE Cowork
permalink: /plans/oficina-virtual/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

{% contentfor js %}
  <script src="/assets/functions/oficinal_virtual.js"></script>
  <script type="text/javascript">
    $( "#select_locations" ).change(function() {
      select_locations = $( "#select_locations" ).val();
      $("#precio").html(select_locations);
    });

    $( "#select_locations_pt" ).change(function() {
      select_locations_pt = $( "#select_locations_pt" ).val();
      $("#precio_pt").html(select_locations_pt);
    });
  </script>
{% endcontentfor %}


<div id="oficina_virtual" class="fold">
  <div class="overlay">
    <div class="fold-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Oficina virtual</h1>
            <p class="slogan">Comienza liviano, pero como miembro</p>
            <div class="margin_top_30px">
              <p>Obtén tu oficina virtual y accede a los beneficios y eventos de networking para tu empresa. Ideal para emprendedores que están comenzando sus empresas, o personas que necesitan oportunidades de negocio. Es una solución rápida para partir tu negocio, pero sin que afrontar los costos de comprar muebles, pantallas útiles de oficina entre otras cosas. Ofrecemos una atención personalizada con estandard en servicios del más alto nivel. Serás atendido por correo electrónico o whatsapp directamente por nuestros community managers.</p>
              <p>Tendrás una dirección tributaria para el Servicio Impuestos Internos (SII), y al mismo tiempo una dirección exclusiva con excelente ubicación. Cerca del metro, bancos y comercio.</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            {% include plan-tour-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Esta membresía incluye los siguientes beneficios</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-archive"></i> Envio de paquetes y correspondencia a tu residencia 20% de descuento</div>
        <div class="membresia_list_second"><i class="fa fa-money"></i> Servicio de depósito bancario</div>
        <div class="membresia_list_second"><i class="fa fa-snowflake-o"></i> Refrigerador inteligente con comida sana (por venir)</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Estacionamiento de autos (según disponibilidad)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Bodegaje para guardar mercadería</div>
        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Horas adicionales del uso de salas de reuniones</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Espacio para eventos (según disponibilidad)</div>
      </div>
      <div class="col-md-6 text-left">
        <h2>Selecciona ubicación</h2>
        <div class="membresia_list_second margin_top_30px">El golf desde $30.000 / Mes</div>
        <div class="membresia_list_second">El golf $330.000 / año Te regalamos un mes</div>
        <div class="membresia_list_second">Bellavista desde $20.000 / Mes</div>
        <div class="membresia_list_second">Bellavista $220.000 / año Te regalamos un mes</div>
        <div class="membresia_list_second">Núcleo Ochagavía desde $10.000 / Mes</div>
        <div class="membresia_list_second">Bellavista $110.000 / año Te regalamos un mes</div>
      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
