---
layout: default
title: Oficina Privada - EDGE Cowork
permalink: /plans/oficina-privada/
active_menu: planes
navbar_extra_classes: home
lang: en
---

{% contentfor css %}
  <link href="/assets/css/single_membership.css" rel="stylesheet">
{% endcontentfor %}

<div id="oficina_privada">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Private Office<br>
            <small>Exclusive work space for you and your team</small>
          </h1>

          <div class="margin_top_30px">
            <p>At Edge we offer private office space for teams of all sizes. Our offices come in a variety of shapes and sizes, making it easy to find something that fits best with your needs. We make it easy to grow your team by removing the logistics of finding a place to work.  All of our offices come completely equipped with high quality tables and chairs. Further customization is possible, but must be approved by an Office Manager.<p>
            <p><span>Importante</span> We don’t ask for a guarantee, but you are required to make an upfront deposit of 30% of the first month of rent to reserve your office.</p>
            <p>Want to be more active while you work? Equip your office with electronic stand-up desks made by our partner <a href=”activadesk.com” target=”_blank”> Activadesk. ®</a> Customize the height of your desk and overcome your posture problems once and for all!</p>

          </div>
        </div>
        <div class="col-md-offset-1 col-md-4">
          {% include plan-tour-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include find-membership.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Private Offices include</h2>
        <div class="membresia_list_second margin_top_30px"><i class="fa fa-wifi"></i> Stable, high-speed internet with a 1:1 dedicated network of 100MB</div>
        <div class="membresia_list_second"><i class="fa fa-coffee"></i> Unlimited tea, purified water and quality roasted coffee</div>
        <div class="membresia_list_second"><i class="fa fa-plug"></i> Comfortable, high-quality tables with built-in power outlets for computers and phones</div>
        <div class="membresia_list_second"><i class="fa fa-thumbs-up"></i> Common areas to work, relax and receive guests</div>
        <div class="membresia_list_second"><i class="fa fa-phone"></i> Private phone booths for uninterrupted focus, 1-1 meetings and important calls.</div>
        <div class="membresia_list_second"><i class="fa fa-users"></i> 10 hours a month to use meeting rooms</div>
        <div class="membresia_list_second"><i class="fa fa-print"></i> Color printers and scanners</div>
        <div class="membresia_list_second">Virtual Office with commercial address for SII</div>
        <div class="membresia_list_second"><i class="fa fa-key"></i> Smart & secure access to building</div>
        <div class="membresia_list_second"><i class="fa fa-female"></i> Onsite Office Manager during working hours</div>
        <div class="membresia_list_second"><i class="fa fa-tint"></i> Daily cleaning services</div>
        <div class="membresia_list_second"><i class="fa fa-bicycle"></i> Lockers and bike parking</div>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Guest car parking subject to availability</div>
        <div class="membresia_list_second"><i class="fa fa-ticket"></i> Access to Edge events</div>
      </div>
      <div class="col-md-6 text-left">
         <h2>Additional services</h2>
        <div class="membresia_list_second"><i class="fa fa-car"></i> Car parking (subject to availability)</div>
        <div class="membresia_list_second"><i class="fa fa-hdd-o"></i> Storage rooms for merchandising and other products</div>
        <div class="membresia_list_second"><i class="fa fa-clock-o"></i> Extra meeting room hours</div>
        <div class="membresia_list_second"><i class="fa fa-handshake-o"></i> Event space</div>

      </div>
    </div>
    <!--
    <div class="row margin_top_60px">
      <div class="col-md-offset-3 col-md-6">
        <h4>Desde <span id="precio">$100.000</span> / Mes</h4>
        <select id="select_locations" class="form-control">
          <option value="$100.000">El Golf</option>
          <option value="$120.000">Bellavista</option>
          <option value="$130.000">Nucleo Ochagavía</option>
        </select>
        <br>
        <a href="" class="btn btn-default btn-block">CTA</a>
      </div>
    </div>
    -->
  </div>
</section>
