.navbar-fixed-top.home {
	position: absolute;
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

#menu .logo img{
  height: 80px;
  position: relative;
  top: 10px;
}

#fold {
  background: url(/assets/imgs/homepage/fold.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.fold-content {
  position: absolute;
  bottom: 20px;
  width: 520px;
  padding: 0 15px;
}
.fold-content h1 {
  font-size: 40px;
  text-transform: uppercase;
}
.fold-content p {
  font-size: 24px;
  font-weight: 400;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
	#fold {
		height: 100vh;
		padding-top: 50px;
	}

	#menu {
		padding: 0px;
		height: 10px;
	}

	#menu.navbar-default, #header_collaps_fold {
		background-color: #3F4444;
		border-color: transparent;
	}

  #menu .logo img{
    height: 45px;
    position: relative;
    top: 5px;
    left: 20px;
  }

	.navbar-form {
		margin-left: 0px;
	}
  .fold-content {
    margin-top: 0px;
    text-align: center;
    width: 100%;
  }
  .fold-content h1 {
    font-size: 30px;
  }
  .fold-content p {
    font-size: 20px;
  }
}
