.listing {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -160px;
  padding-top: 160px;
  padding-bottom: 0 !important;
}

#fold_ubicaciones {
  background-image: url(/assets/imgs/backgrounds/mesa.jpg);
}

#fold_planes {
  background-image: url(/assets/imgs/backgrounds/mesa.jpg);
}

.listing_shadow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.2+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */

  height: auto;
  padding-top: 160px;
  padding-bottom: 100px;
}

.listing h1 {
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 30px;
}

.location {
  min-height: 500px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border: none;
  border-radius: 0;
}

.location_body h2{
  color: #222;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 10px;
}
.location_body .description {
  color: #222;
  font-size: 16px;
}

.location_body .address {
  color: #222;
  font-size: 16px;
}

.location_body .phone-number *{
  color: #222;
  font-size: 18px;
  font-weight: 300;
}

.location_body .location_price {
  margin: 40px 0;
}

.location_body .location_price strong {
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  font-size: 14px;
}

.location_body .location_price span {
  font-weight: 300;
  text-transform: uppercase;
  color: #222;
  font-size: 14px;
}

.location_body .message {
  margin: 50px 0;
  text-align: center;
}

.location_body .message h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}
.location_body .message p {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222;
}

.location_body .btn {
  background: rgba(0,0,0,0.7);
  color: white;
}

